.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/hero-image/hero.webp') no-repeat center center/cover;
    background-size: 85%; /* Adjust the background size to 76% */
    height: 85vh; /*74*/
    text-align: center;
    color: #fff;
    padding: 20px ; /* Add padding to top and bottom 40px, sides 20px */
    box-sizing: border-box; /* Ensure padding is included in the height calculation */
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; /* Smooth transition for the transform and filter */
}

.hero:hover {
    transform: scale(1.05); /* Slightly enlarge the background image */
    filter: brightness(1.1); /* Make the background image slightly brighter */
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.hero .hero-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; /* Ensure content is above overlay */
}

.hero-overlay {
    position: absolute;
    top: 10%; /* Adjust positioning for overlay text */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    width: 100%;
}

.hero-slogan {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* Ensure text is white */
}

.btn-learn-more {
    background-color: rgba(119, 201, 212, 0.8); /* Semi-transparent background */
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.25em;
    margin-bottom: 20px;
}

.hero .cta {
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #4e4b4b;
}

@media (max-width: 768px) {
    .hero {
        padding: 150px 20px 20px;
        height: auto;
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }
}
