.features-extended {
  padding: 20px;
  background-color: #fcf9d0;
}

.container {
  display: flex;
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center items horizontally */
  padding: 20px;
}

/* Center the title and set the font size */
.container h2 {
  text-align: center;
  font-size: 42px;
  margin-top: 0; /* Remove default margin */
  position: relative;
  overflow: hidden;
}

.featuresAnimation {
  display: inline-block;
  white-space: nowrap;
  animation: moveText 10s linear infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
    color: red; /* Change color as needed */
  }
  25% {
    transform: translateX(0%);
    color: blue; /* Change color as needed */
  }
  75% {
    transform: translateX(-100%);
    color: green; /* Change color as needed */
  }
  100% {
    transform: translateX(-200%);
    color: red; /* Change color as needed */
  }
}

.featuresContainer {
  position: relative;
  width: 100%;
  height: 1300px; /* Adjust height as needed */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  width: 15%; /* Smaller width */
  margin: 5px; /* Space between boxes */
  text-align: center;
  border: 1px solid #000000; /* Add border */
  border-radius: 8px; /* Add rounded corners */
  padding: 10px; /* Add padding */
  position: absolute;
}

.feature img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 3/4; /* Set the aspect ratio based on your images */
}

.feature h3 {
  margin-top: 10px;
  font-size: 14px; /* Adjust font size for the heading */
}

.feature p {
  font-size: 12px; /* Adjust font size for the paragraph */
  line-height: 1.5;
}

.feature:nth-child(1) { top: 25%; left: 50%; transform: translate(-50%, -50%); }
.feature:nth-child(2) { top: 30%; left: 70%; transform: translate(-50%, -50%); }
.feature:nth-child(3) { top: 75%; left: 60%; transform: translate(-50%, -50%); }
.feature:nth-child(4) { top: 30%; left: 30%; transform: translate(-50%, -50%); }
.feature:nth-child(5) { top: 75%; left: 42%; transform: translate(-50%, -50%); }