  .header {
    background: #fff;
    color: #fff;
    padding-top: 5px;
    min-height: 5vh;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    color: #4e4b4b;
  }
  
  .navLinks {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
  }
  
  .navLinks li {
    margin: 0 15px;
  }
  
  .navLinks a {
    color: #4e4b4b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .cta {
    background: #77c9d4;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
    }

    header li {
        margin: 10px 0;
    }
}

.buttonContainer {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}