  .header {
    background: var(--surface);
    color: var(--surface);
    padding: 5px;
    min-height: 5vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 1.5s ease, opacity 1.5s ease; /* Add transition for smooth fade effect */
  }
  
  .header.hidden {
    opacity: 0;
  }

  .header.visible {
      opacity: 1;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    cursor: pointer;/*Make logo clickable*/
  }
  
  .originalH1 {
    color: var(--secondary-text);
    margin: 0;
    font-size: 24px;
    font-weight: bold; /* Keep text bold */
  }

  .logo h1 {
    color: var(--secondary-text);
  }

  .logoHoverEffect {
    transition: text-shadow 0.3s ease-in-out; /* Add transition for smooth hover effect */
  }
  
  .logoHoverEffect:hover {
    text-shadow: 1px 1px 2px rgba(var(--shadow) 0.8); /* Add shadow on hover */
  }
  
  .navLinks {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
  }
  
  .navLinks li {
    margin: 0 15px;
  }
  
  .navLinks a {
    color: var(--secondary-text);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .cta {
    background-color: var(--theme-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: background-color 300ms ease-in-out;
  }

  @media (max-width: 768px) {
      header nav {
          flex-direction: column;
      }

      header ul {
          flex-direction: column;
      }

      header li {
          margin: 10px 0;
      }
  }

  .buttonContainer {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
  }

  .buttonContainer>a {
    margin-top: 5px;
    height: 50%;
  }

  .buttonContainer>div {
    @apply scale-75;
  }

  .cta:hover {
    background: var(--btn-hover-color);
  }