.contact {
    padding: 50px 30vw;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact p {
    margin-bottom: 20px;
}

.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    background: #77c9d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #5ea4b4;
}
