.contact {
    padding: 50px 30vw;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 32px; /* Default font size */
}

.contact p {
    margin-bottom: 20px;
    font-size: 16px; /* Default font size */
}

.contact input, textarea {
    color: var(--constant-text-color);
  }

.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.contact form button {
    background: var(--theme-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact form button:hover { /* Add hover effect */
    background-color: #5ca8b9; /* New background color on hover */
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
  }

/* Media Query for smaller screens */
@media (max-width: 576px) {
    .contact h2 {
        font-size: 22px; /* Adjust font size for smaller screens */
      }
  }
