.chat-input {
    display: flex;
    padding: 10px;
    background-color: var(--primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: fixed;
    bottom: 0;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    background-color: var(--surface);
    color: var(--surface-text);
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--theme-color);
    color: white;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
  }

  .chat-input button:hover {
    background-color: var(--btn-hover-color);
  }
  
  .chat-history {
    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .chat-header img {
    height: 40px;
    margin-right: 10px;
  }
  