/* landingStyles.css */

/* Default light mode colors */
:root {
  --blockquote-background: #fff;
  --blockquote-text: #000;
  --landing-background: #f6f6f6;
  --landing-text: #000;
  --footer-background: #f6f6f6;
  --footer-text: #000;
  --container-background: #f6f6f6;
  --header-background: #f6f6f6;
  --header-text: #f6f6f6;
  --header-logo: #000;
  --nav-link-color: #000;
  --learn-more-background: #f6f6f6;
}

.light-mode {
  color: #000;
}

.dark-mode {
  color: #fff;

  --blockquote-background: #333; /* Grey for dark mode */
  --blockquote-text: #ddd;
  --landing-background: #000; /* Dark mode background */
  --landing-text: #fff; /* Dark mode text color */
  --footer-background: #000; /* Dark mode background */
  --footer-text: #ddd; /* Dark mode text color */
  --container-background: #000; /* Dark mode container background */
  --header-background: #000; /* Dark mode background */
  --header-text: #000; /* Dark mode text color */
  --header-logo: #ddd; /* Dark mode logo color */
  --nav-link-color: #ddd; /* Dark mode nav link color */
  --learn-more-background: #000; /* Dark mode background */
}

