  .dark-mode {
    --color: #fff;

    --background: #121212; /* Dark mode background */
    --surface: #1d1d1d; /* Dark mode surface */
    --primary: #333; /* Dark mode primary */
    --secondary: #444; /* Dark mode secondary */
    
    --background-text: #fff; /* Dark mode background text color */
    --surface-text: #fff; /* Dark mode surface text color */
    --primary-text: #fff; /* Dark mode primary text color */
    --secondary-text: #ddd; /* Dark mode secondary text color */

    --shadow: 255, 255, 255;
    --theme-color: #01579b;
    --grad-color: #0d47a1;

    --sidebarbackround: #1d1d1d;
    --sidebarslider: #333;

    .search-input{
      color: #000
    }
    .reset-button{
      color: #000
    }
  }

  .light-mode {
    --color: #000;

    --background:#F5F5F5 ;
    --surface: #fafafa;
    --primary: #fff;
    --secondary: #e0e0e0;
    
    --background-text: #000;
    --surface-text: #000;
    --primary-text: #000;
    --secondary-text: #212121;

    --shadow: 0, 0, 0;
    --theme-color: #77c9d4;
    --grad-color: #4a90e2;

    --sidebarbackround: #ececec;
    --sidebarslider: #fff;
  }

  .theme-switch {
    position: relative;
    display: flex;
    justify-content: center;
    direction: rtl;
    margin: 5px;
  }
  
  #theme-checkbox {
    display: none;
  }
  
  #theme-checkbox + label {
    /* change the font-size below to change the size of the switch button*/
    font-size: 2rem;
    height: 1em;
    width: 2.5em;
    border-radius: 0.25em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #cecece;
    position: relative;
  }
  
  #theme-checkbox:checked + label {
    background-color: #3a3a3a;
  }
  
  #theme-checkbox + label:active {
    transform: scale(0.85);
    transition: transform 0.2s;
  }
  
  #theme-checkbox + label div {
    width: 0.8em;
    height: 0.8em;
    border-radius: inherit;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    z-index: 10;
    transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
    background-color: #f2f2f2;
  }
  
  #theme-checkbox:checked + label div {
    /* left: calc(2.5em - .8em - .1em); */
    left: 1.6em;
    background-color: #212121;
  }
  
  #theme-checkbox + label span {
    display: flex;
  }
  
  #theme-checkbox + label svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    padding: 0.15em;
    box-sizing: border-box;
  }
  
  #theme-checkbox + label span:first-of-type {
    color: #3a3a3a;
  }
  
  #theme-checkbox + label span:last-of-type {
    color: #cecece;
  }