  .dark-mode {
    --color: #fff;

    --background: #121212;
    --surface: #1d1d1d;
    --primary: #333;
    --secondary: #444;
    
    --background-text: #fff;
    --surface-text: #fff;
    --primary-text: #fff;
    --secondary-text: #ddd;

    --shadow: 255, 255, 255;
    --theme-color: #01579b;
    --grad-color: #0d47a1;
  }

  .light-mode {
    --color: #000;

    --background:#F5F5F5 ;
    --surface: #fafafa;
    --primary: #fff;
    --secondary: #e0e0e0;
    
    --background-text: #000;
    --surface-text: #000;
    --primary-text: #000;
    --secondary-text: #212121;

    --shadow: 0, 0, 0;
    --theme-color: #77c9d4;
    --grad-color: #4a90e2;
  }

  :root {
    --constant-text-color: #000;
    --btn-hover-color: #5ca8b9;
  }