  .dark-mode {
    --color: #fff;

    --background: #121212; /* Dark mode background */
    --surface: #1d1d1d; /* Dark mode surface */
    --primary: #333; /* Dark mode primary */
    --secondary: #444; /* Dark mode secondary */
    
    --background-text: #fff; /* Dark mode background text color */
    --surface-text: #fff; /* Dark mode surface text color */
    --primary-text: #fff; /* Dark mode primary text color */
    --secondary-text: #ddd; /* Dark mode secondary text color */

    --shadow: 255, 255, 255;
    --theme-color: #01579b;
    --grad-color: #0d47a1;
  }

  .light-mode {
    --color: #000;

    --background:#F5F5F5 ;
    --surface: #fafafa;
    --primary: #fff;
    --secondary: #e0e0e0;
    
    --background-text: #000;
    --surface-text: #000;
    --primary-text: #000;
    --secondary-text: #212121;

    --shadow: 0, 0, 0;
    --theme-color: #77c9d4;
    --grad-color: #4a90e2;
  }

  :root {
    --constant-text-color: #000; 
  }