/* General styles for the LandingPage */
.Landing {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    overflow: hidden;
    background-color: #f6f6f6;/* General styles for the LandingPage */
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
}


.cta-button {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.flex-container {
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
}

/* .features, .about, .contact {
    padding: 50px 0;
    text-align: center;
}

.features h2, .about h2, .contact h2 {
    margin-bottom: 20px;
}

.features .feature, .about p, .contact p {
    margin-bottom: 20px;
}*/

/* Learn more features */
/* .features, .about, .contact, .learn-more, .features-extended, .screenshots, .testimonials, .download {
    padding: 50px 0;
}

.features .feature, .features-extended .feature {
    margin: 20px 0;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
