  .chat-history {
    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(var(--shadow), 0.1);
    max-width: 800px;
    margin: auto;
  }

  .chat-history h2 {
    color: var(--background-text);
  }

  .chat-history .p {
    color: var(--background-text);
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .chat-header h1 {
    color: var(--surface-text);
  }
  
  .chat-header img {
    height: 40px;
    margin-right: 10px;
  }
  
  .message {
    margin-bottom: 10px;
  }

  .main-container-outer {
    max-height: 100vh;
    overflow-y: auto;
    background-color: var(--surface);
  }

  .main-container-outer > h2 {
    color: var(--surface-text);
  }

  .main-container {
    background-color: var(--surface);
    padding-bottom: 5%;
    height: 500%;
    /* overflow: hidden; */
  }

  .history-container {
    background-color: var(--background);
  }

  .prompt-card {
    background-color: var(--surface);
    box-shadow: 0 4px 6px -1px rgba(var(--shadow), 0.1), 0 2px 4px -1px rgba(var(--shadow), 0.06);
  }

  .prompt {
    color: var(--surface-text);
  }

  .user-mesg {
    background-color: var(--primary);
  }

  .user-mesg > .p {
    padding-right: 10px;
  }

  .bot-mesg {
    background-color: var(--background);
  }

  .bot-mesg > .p {
    padding-left: 10px;
    padding-top: 10px;
  }

  .themeToggle {
    padding: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* Using Tailwind classes via @apply */
    @apply fixed top-5 right-5;
  }

  /* .themeToggle>svg {
    transform: scale(1.5);
    padding: 5px;
    cursor: pointer;
    padding: 20px;
  } */
  