/* GoogleMapsComponent.css */
.map-container {
  position: relative;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.map-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1450px;
  height: 600px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(130%);
  z-index: 1;
  display: flex;
  align-items: center;
}

.search-input {
  width: 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
  color: var(--constant-text-color);
}

.reset-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  color: var(--constant-text-color);
}

