.footer {
    background: #f6f6f6;
    color: #4e4b4b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
  
.container {
    width: 100%;
    background-color: #f6f6f6;
}