.footer {
    background-color: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
  
.container {
    width: 100%;
    background-color: var(--container-background);
}