.theme-switch .toggle {
  background-color: var(--surface);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
  color: var(--surface-text);
  transition: box-shadow 300ms ease-in-out;
}

.theme-switch .toggle:hover{
  box-shadow: 0 0 10px 5px rgba(var(--shadow), .1);
}

.theme-switch svg {
  padding: 2px; /* control icon size*/
}

.theme-switch .input {
  display: none;
}

.theme-switch .icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 300ms;
}

.theme-switch .icon--moon {
  transition-delay: 100ms;
}

.theme-switch .icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 100ms;
  transform: scale(1) rotate(360deg);
}