.wrapper {
    border-radius: 50%;
    background-color: var(--surface);
    place-items: center;
    display: grid;
    cursor: pointer;
    line-height: 1;
    color: var(--surface-text);
    height: 56px;
    width: 56px;
    transition: box-shadow 300ms ease-in-out;
}

.wrapper:hover{
    box-shadow: 0 0 10px 5px rgba(var(--shadow), .1);
  }

.icon {
    transform: scale(1.5);
}